package com.xxbb.springbootapi.service;

import com.xxbb.springbootapi.entity.{entityName};
import com.xxbb.springbootapi.mapper.{entityName}Mapper;
import com.xxbb.springbootapi.wrapper.{entityName}Query;
import com.xxbb.springbootapi.wrapper.{entityName}Update;

public interface I{entityName}Service extends IBaseService<{entityName}, {entityName}Query, {entityName}Update, {entityName}Mapper> {

}
